---
layout: default
title: Blog
permalink: /blog/
---


<div class="posts">
	{% if site.readtime %}
  		{% for post in site.posts %}
   			{% if site.wpm %}
      			{% assign readtime = post.content | strip_html | number_of_words | append: '.0' | divided_by:site.wpm %}
    		{% else %}
      			{% assign readtime = post.content | strip_html | number_of_words | append: '.0' | divided_by:180 %}
    		{% endif %}
  		{% endfor %}
	{% endif %}

	{% for post in site.posts %}
  		<section class="module blog parallax parallax-1">
		
		</section>
      	<section class="module content">
			<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

			{% if site.readtime %}
  				{% if readtime < 1 %}<span class="readTime"><i class="fa fa-clock-o"></i> Less than 1 minute read</i></span>
  				{% elsif readtime > 1 and readtime < 1.5 %}<span class="readTime"> <i class="fa fa-clock-o"></i> 1 minute read</span>
  				{% elsif readtime > 1.5 %}<span class="readTime"		><i class="fa fa-clock-o"></i> {{ readtime }}</span> minutes 	read{% endif %}
			{% endif %}

			<div class="entry">
				{{ post.content }}
			</div>
			<br>
			<div class="date">
	 			Written on {{ post.date | date: "%B %-d, %Y" }}
			</div>
		</section>
 	{% endfor %}
</div>
