<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg width="40px" height="40px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 44 44" enable-background="new 0 0 44 44" xml:space="preserve">
<circle fill="#0077B5" cx="22" cy="22" r="22"/>
<g>
	<rect x="8.7" y="16.5" fill="#FFFFFF" width="5.7" height="18.3"/>
	<circle fill="#FFFFFF" cx="11.6" cy="10.7" r="3.3"/>
	<path fill="#FFFFFF" d="M35.7,24.7c0-4.9-1.1-8.7-6.8-8.7c-2.8,0-4.6,1.5-5.4,3h-0.1v-2.5H18v18.3h5.7v-9.1c0-2.4,0.5-4.7,3.4-4.7
		c2.9,0,3,2.7,3,4.9v8.9h5.7V24.7z"/>
</g>
</svg>
