@media (max-width:1430px) {
    #developerTopBackground {
			background-size:50%;
			background-position-y:-159px;
		}
}
@media (max-width:1400px) {
    #developerTopBackground {
			background-size:51%;
			background-position-y:-157px;
		}
}
@media (max-width:1370px) {
    #developerTopBackground {
			background-size:52%;
			background-position-y:-155px;
		}
}
@media (max-width:1340px) {
    #developerTopBackground {
			background-size:53%;
			background-position-y:-153px;
		}
}
@media (max-width:1310px) {
    #developerTopBackground {
			background-size:54%;
			background-position-y:-151px;
		}
}
@media (max-width:1280px) {
    #developerTopBackground {
			background-size:55%;
			background-position-y:-149px;
		}
}
@media (max-width:1250px) {
    #developerTopBackground {
			background-size:56%;
			background-position-y:-147px;
		}
}
@media (max-width:1220px) {
    #developerTopBackground {
			background-size:57%;
			background-position-y:-145px;
		}
}
@media (max-width:1190px) {
    #developerTopBackground {
			background-size:50%;
			background-position-y:-165px;
		}
}
@media (max-width:1160px) {
    #developerTopBackground {
			background-size:51%;
			background-position-y:-163px;
		}
}
@media (max-width:1130px) {
    #developerTopBackground {
			background-size:52%;
			background-position-y:-161px;
		}
}
@media (max-width:1100px) {
    #developerTopBackground {
			background-size:53%;
			background-position-y:-159px;
		}
}
@media (max-width:1070px) {
    #developerTopBackground {
			background-size:54%;
			background-position-y:-157px;
		}
}
@media (max-width:1040px) {
    #developerTopBackground {
			background-size:55%;
			background-position-y:-155px;
		}
}
@media (max-width:1010px) {
    #developerTopBackground {
			background-size:56%;
			background-position-y:-153px;
		}
}
@media (max-width:980px) {
    #developerTopBackground {
			background-size:57%;
			background-position-y:-151px;
		}
}
@media (max-width:950px) {
    #developerTopBackground {
			background-size:58%;
			background-position-y:-149px;
		}
}
@media (max-width:920px) {
    #developerTopBackground {
			background-size:59%;
			background-position-y:-147px;
		}
}
@media (max-width:890px) {
    #developerTopBackground {
			background-size:60%;
			background-position-y:-145px;
		}
}
@media (max-width:860px) {
    #developerTopBackground {
			background-size:61%;
			background-position-y:-143px;
		}
}
@media (max-width:830px) {
    #developerTopBackground {
			background-size:62%;
			background-position-y:-141px;
		}
}
@media (max-width:800px) {
    #developerTopBackground {
			background-size:63%;
			background-position-y:-139px;
		}
}
@media (max-width:770px) {
    #developerTopBackground {
			background-size:64%;
			background-position-y:-137px;
		}
}
@media (max-width:740px) {
    #developerTopBackground {
			background-size:65%;
			background-position-y:-135px;
		}
}
@media (max-width:710px) {
    #developerTopBackground {
			background-size:66%;
			background-position-y:-133px;
		}
}
@media (max-width:680px) {
    #developerTopBackground {
			background-size:67%;
			background-position-y:-131px;
		}
}
@media (max-width:650px) {
    #developerTopBackground {
			background-size:88%;
			background-position-y:-147px;
		}
}
@media (max-width:620px) {
    #developerTopBackground {
			background-size:85%;
			background-position-y:-137px;
		}
}

@media (max-width:600px) {
    #developerTopBackground {
			background-size:85%;
			background-position-y:-102px;
		}
}

@media (max-width:555px) {
    #developerTopBackground {
			background-size:85%;
			background-position-y:-102px;
		}
}

@media (max-width:500px) {
    #developerTopBackground {
			background-size:85%;
			background-position-y:-78px;
		}
}

@media (max-width:466px) {
    #developerTopBackground {
			background-size:85%;
			background-position-y:-78px;
		}
}

@media (max-width:448px) {
    #developerTopBackground {
			background-size:93%;
			background-position-y:-74px;
		}
}


