
//
// VARIABLES
//

// Colors
$blue: #4183C4; 
$darkBlue: #222438;
$turquoiseColor: #0DA4B5;
$darkPurple: #410573;
$redHighLight: #C70455;
$lightGreen: #7efa73;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: rgba(0,0,0,0.44);
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

$avenirNext: "Avenir Next", Avenir, sans-serif;

$avenirNextReg: url("..font/AvenirNext-Regular");
$avenirNextMed: "AvenirNext-Medium";
$avenirNextDemi: "AvenirNext-DemiBold";
$avenirNextBold: "AvenirNext-Bold";
$avenirNextHeavy: "AvenirNext-Heavy";
$avenirNextLight: "AvenirNext-UltraLight";
$avenirNextItalic: "AvenirNext-Italic";
	

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}