<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.description }}">

    <meta name="keywords" content="{{ site.keywords }}" />

    <link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ site.favicon }}" type="image/x-icon">
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <!-- This is from the original site
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
          
          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>
          
          <nav>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </header>
      </div>
    </div> -->

    <nav>
      <!-- This line menu is hidden until the screen is small enough -->
      <div id="lineMenu"><a href="#">☰</a></div>
      <div id="logo"><a href="{{ site.baseurl }}/">
        <!-- Each letter is a different weight, hence the elements created for styling them -->
        <ta>TA</ta><y>Y</y><l>L</l><o>O</o><r>R</r> wrig<em>h</em>t-sanson</a>
      </div>
      <ul id="hiddingMenu">
        <img src="{{ site.baseurl }}/images/star.svg" class="starIcons">
        <li><a href="{{ site.baseurl }}/developer+designer">developer & des<em>i</em>gne<em>r</em></a></li>
        <img src="{{ site.baseurl }}/images/star.svg" class="starIcons">
        <li><a href="{{ site.baseurl }}/circus+performer">circus p<em>e</em>rformer</a></li>
        <img src="{{ site.baseurl }}/images/star.svg" class="starIcons">
        <li><a href="{{ site.baseurl }}/artist">artist</a></li>
        <img src="{{ site.baseurl }}/images/star.svg" class="starIcons">
        <li><a href="you-name-it-inprogress.html">you na<em>me</em> it</a></li>
      </ul>
    </nav>

    {{ content }}

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
